<header class="header">
  <div>
    <h1 class='navbar-brand'>Lesson Schedule</h1>
  </div>

  <div>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Admin', '/admin', class:'nav-link' %>
      <% end %>
    <% end %>
    
    <%= link_to 'SignOut', destroy_user_session_path, class: 'nav-link', method: :delete %>
  </div>
</header>

<div class='contents'>
  <aside>
    <p>Navigation</p>
  </aside>

  <main>
    <%= form_with(@lesson_user) do |f| %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">講座</th>
            <th scope="col">時刻</th>
            <th scope="col">分類</th>
            <th scope="col">講師</th>
          </tr>
        </thead>
        <tbody>
          <% @lessons.each do |lesson| %>
            <tr>
              <td><%= check_box :lesson_user, :attend, {class: "check_box"}, true, false %></td>
              <td><%= lesson.lesson %></td>
              <td><%= l lesson.datetime %></td>
              <td><%= lesson.category %></td>
              <td><%= lesson.teacher %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <div class="actions">
        <%= f.submit "受講登録" %>
      </div>
    <% end %>
  </main>
</div>